<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="logSettings" type=""/>-->
    <section name="serviceSettings" type="VersionOne.Integration.Service.Core.Config.ServiceSettings, VersionOne.Integration.Service.Core"/>
    <section name="v1Settings" type="VersionOne.Integration.Service.Core.Config.V1Settings, VersionOne.Integration.Service.Core"/>
    <section name="jiraSettings" type="VersionOne.SDK.Jira.Config.JiraSettings, VersionOne.SDK.Jira"/>
  </configSections>

  <!-- Logger settings go here -->
  <!--<logSettings/>-->

  <!-- General VersionOne.Integration.Service settings go here -->
  <serviceSettings syncIntervalInSeconds="5" />

  <!-- VersionOne settings go here -->
  <!-- Authentication Type => 0 = AccessToken, 1 = Basic, 2 = Integrated, 3 = Integrated with username and password-->
  <v1Settings
    authenticationType="0"
    url="https://www11.v1host.com/V1Integrations"
    accessToken="1.DxVCpH5EiM1MszZq255gBrj15R0="
    ***REMOVED***
    ***REMOVED***
    syncIdField="Reference">
    <proxy enabled="false"
           url="http://proxyhost"
           ***REMOVED***
           ***REMOVED***
           domain="domain" />
  </v1Settings>

  <!-- JIRA settings go here -->
  <jiraSettings>
    <servers>
      <server enabled="true"
           name="server1"
           url="http://jira-64.cloudapp.net:8080"
           ***REMOVED***
           ***REMOVED***>
        <projectMappings>
          <project enabled="true" v1Project="JIRATest" jiraProject="JIRAOutpost"></project>
          <project enabled="false" v1Project="JIRATest2" jiraProject="ScrumProject"></project>
        </projectMappings>
      </server>

      <server enabled="true"
           name="server2"
           url="http://jira-52.cloudapp.net:8080"
           ***REMOVED***
           ***REMOVED***>
        <projectMappings>
          <project enabled="true" v1Project="JIRATest3" jiraProject="JIRAOutpost2"></project>
          <project enabled="false" v1Project="JIRATest4" jiraProject="ScrumProject2"></project>
        </projectMappings>
      </server>
    </servers>
  </jiraSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>