<?xml version="1.0" encoding="utf-8" ?>
<tfsSettings  runFromThisDateOn="1/8/2016">
  <servers>
    <server enabled="true" name="tfsTest" url="http://V1TFS2015.cloudapp.net:8080" ***REMOVED*** password="Versi0n1.c26nu" ignoreCertificate="false">
      <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
      <projectMappings>
        <project enabled="true" v1Project="Scope:1275" TfsProject="PTP" epicSyncType="EpicCategory:208">
          <statusMappings>
            <status enabled="true" v1Status="Future" TfsStatus="To Do" />
            <status enabled="true" v1Status="In Progress" TfsStatus="In Progress" />
            <status enabled="true" v1Status="Done" TfsStatus="Done" />

            <status enabled="true" v1Status="Define" TfsStatus="To Do" />
            <status enabled="true" v1Status="Breakdown" TfsStatus="To Do" />
            <status enabled="true" v1Status="Build" TfsStatus="In Progress" />
            <status enabled="true" v1Status="Test" TfsStatus="In Progress" />
            <status enabled="true" v1Status="Deploy" TfsStatus="Done" />
          </statusMappings>
        </project>
      </projectMappings>
      <priorityMappings defaultTfsPriority="Medium">
        <priority enabled="true" v1Priority="Low" TfsPriority="Lowest"></priority>
        <priority enabled="true" v1Priority="Low" TfsPriority="Low"></priority>
        <priority enabled="true" v1Priority="Medium" TfsPriority="Medium"></priority>
        <priority enabled="true" v1Priority="High" TfsPriority="High"></priority>
        <priority enabled="true" v1Priority="High" TfsPriority="Highest"></priority>
      </priorityMappings>
    </server>
  </servers>
</tfsSettings>
