<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="logSettings" type=""/>-->
    <section name="serviceSettings" type="VersionOne.TeamSync.Core.Config.ServiceSettings, VersionOne.TeamSync.Core"/>
    <section name="v1Settings" type="VersionOne.TeamSync.Core.Config.V1Settings, VersionOne.TeamSync.Core"/>
    <section name="jiraSettings" type="VersionOne.TeamSync.JiraConnector.Config.JiraSettings, VersionOne.TeamSync.JiraConnector"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!-- Logger settings go here -->
  <log4net>
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
      <bufferSize value="1" />
      <sink value="tcp://localhost:8086/LoggingSink" />
      <lossy value="false" />
      <onlyFixPartialEventData value="true" />
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/VersionOne.TeamSync.Service.%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="RemotingAppender" />
    </root>
  </log4net>
  <!--<logSettings/>-->

  <!-- General VersionOne.TeamSync.Service settings go here -->
  <serviceSettings syncIntervalInSeconds="10" />

  <!-- VersionOne settings go here -->
  <!-- Authentication Type => 0 = AccessToken, 1 = Basic, 2 = Integrated, 3 = Integrated with username and password-->
	<v1Settings
	  authenticationType="1"
	  url="https://www11.v1host.com/V1Integrations"
	  ***REMOVED***
	  ***REMOVED***>
	</v1Settings>

  <!-- JIRA settings go here -->
  
  <jiraSettings>
    <servers>
      <server enabled="true"
           name="jira6"
           url="http://jira-6.cloudapp.net:8080"
           ***REMOVED***
           ***REMOVED***>
        <!-- to find your epic name custom field use this query and search for "Epic Name"
        rest/api/2/issue/createmeta?projectKeys=OPC&issuetypeNames=Epic&expand=projects.issuetypes.fields
        -->
        <projectMappings>
          <project enabled="false" v1Project="Scope:7567" jiraProject="JIRAOutpost" epicSyncType="EpicCategory:208" jiraEpicNameId="customfield_10006"></project>
          <project enabled="true" v1Project="Scope:7567" jiraProject="AS" epicSyncType="EpicCategory:208" jiraEpicNameId="customfield_10006"></project>
        </projectMappings>
      </server>

      <server enabled="false"
           name="jira5"
           url="http://jira-52.cloudapp.net:8080"
           ***REMOVED***
           ***REMOVED***>
        <projectMappings>
          <project enabled="true" v1Project="Scope:2000" jiraProject="JIRAOutpost2" epicSyncType="EpicCategory:2000" jiraEpicNameId="customfield_10006"></project>
          <project enabled="false" v1Project="Scope:2001" jiraProject="ScrumProject2" epicSyncType="EpicCategory:2001" jiraEpicNameId="customfield_10006"></project>
        </projectMappings>
      </server>
    </servers>
  </jiraSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>