<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceSettings" type="VersionOne.TeamSync.Core.Config.ServiceSettings, VersionOne.TeamSync.Core"/>
    <section name="v1Settings" type="VersionOne.TeamSync.Core.Config.V1Settings, VersionOne.TeamSync.Core"/>
    <section name="jiraSettings" type="VersionOne.TeamSync.JiraConnector.Config.JiraSettings, VersionOne.TeamSync.JiraConnector"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!-- Logger settings. -->
  <log4net>
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
      <bufferSize value="1" />
      <sink value="tcp://localhost:8086/LoggingSink" />
      <lossy value="false" />
      <onlyFixPartialEventData value="true" />
      <filter type="VersionOne.TeamSync.Core.LevelFilter, VersionOne.TeamSync.Core">
        <level value="ALL" />
      </filter>
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/VersionOne.TeamSync.Service.%date{yyyy-MM-dd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
      <filter type="VersionOne.TeamSync.Core.LevelFilter, VersionOne.TeamSync.Core">
        <level value="DEBUG" />
      </filter>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="RemotingAppender" />
    </root>
  </log4net>

  <!-- General VersionOne.TeamSync.Service settings -->
  <serviceSettings syncIntervalInSeconds="90" />

  <!-- VersionOne settings -->
  <!-- Authentication Type: 0=AccessToken, 1=Basic, 2=WIA Current User, 3=WIA Specified User, 4=WIA Access Token -->
  <v1Settings authenticationType="1" url="http://localhost/VersionOne" accessToken="" ***REMOVED*** ***REMOVED***>
    <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
  </v1Settings>

  <!-- JIRA settings -->
  <jiraSettings runFromThisDateOn="1/1/2014">
    <servers>

      <server enabled="true" name="jira6" url="http://jira-6.cloudapp.net:8080" ***REMOVED*** ***REMOVED*** ignoreCertificate="false">
        <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
        <projectMappings>
          <project enabled="true" v1Project="Scope:1005" jiraProject="PTP" epicSyncType="EpicCategory:208">
            <statusMappings>
              <status enabled="true" v1Status="Future" jiraStatus="To Do" />
              <status enabled="true" v1Status="InProgress" jiraStatus="In Progress" />
              <status enabled="true" v1Status="Done" jiraStatus="Done" />
              <!--<status enabled="true" v1Status="Accepted" jiraStatus="Done" />-->

              <status enabled="true" v1Status="Define" jiraStatus="To Do" />
              <status enabled="true" v1Status="Breakdown" jiraStatus="To Do" />
              <status enabled="true" v1Status="Build" jiraStatus="In Progress" />
              <status enabled="true" v1Status="Test" jiraStatus="In Progress" />
              <status enabled="true" v1Status="Deploy" jiraStatus="Done" />
            </statusMappings>
          </project>
        </projectMappings>
        <priorityMappings defaultJiraPriority="Medium">
          <priority enabled="true" v1Priority="Low" jiraPriority="Lowest"></priority>
          <priority enabled="true" v1Priority="Low" jiraPriority="Low"></priority>
          <priority enabled="true" v1Priority="Medium" jiraPriority="Medium"></priority>
          <priority enabled="true" v1Priority="High" jiraPriority="High"></priority>
          <priority enabled="true" v1Priority="High" jiraPriority="Highest"></priority>
        </priorityMappings>
      </server>

      <server enabled="false" name="jira5" url="http://jira-52.cloudapp.net:8080" ***REMOVED*** ***REMOVED*** ignoreCertificate="false">
        <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
        <projectMappings>
          <project enabled="true" v1Project="Scope:1005" jiraProject="PTP" epicSyncType="EpicCategory:208">
            <statusMappings>
              <status enabled="true" v1Status="Future" jiraStatus="To Do" />
              <status enabled="true" v1Status="InProgress" jiraStatus="In Progress" />
              <status enabled="true" v1Status="Done" jiraStatus="Done" />
              <!--<status enabled="true" v1Status="Accepted" jiraStatus="Done" />-->

              <status enabled="true" v1Status="Define" jiraStatus="Open" />
              <status enabled="true" v1Status="Breakdown" jiraStatus="In Progress" />
              <status enabled="true" v1Status="Build" jiraStatus="Resolved" />
              <status enabled="true" v1Status="Test" jiraStatus="Resolved" />
              <status enabled="true" v1Status="Deploy" jiraStatus="Closed" />
            </statusMappings>
          </project>
        </projectMappings>
        <priorityMappings defaultJiraPriority="Major">
          <priority enabled="true" v1Priority="Low" jiraPriority="Trivial"></priority>
          <priority enabled="true" v1Priority="Low" jiraPriority="Minor"></priority>
          <priority enabled="true" v1Priority="Medium" jiraPriority="Major"></priority>
          <priority enabled="true" v1Priority="High" jiraPriority="Critical"></priority>
          <priority enabled="true" v1Priority="High" jiraPriority="Blocker"></priority>
        </priorityMappings>
      </server>

      <server enabled="false" name="jiraLocal" url="http://localhost:8088" ***REMOVED*** ***REMOVED*** ignoreCertificate="false">
        <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
        <projectMappings>
          <project enabled="false" v1Project="Scope:1049" jiraProject="TSP" epicSyncType="EpicCategory:208"></project>
        </projectMappings>
        <priorityMappings defaultJiraPriority="Medium">
          <priority enabled="true" v1Priority="Low" jiraPriority="Lowest"></priority>
          <priority enabled="true" v1Priority="Low" jiraPriority="Low"></priority>
          <priority enabled="true" v1Priority="Medium" jiraPriority="Medium"></priority>
          <priority enabled="true" v1Priority="High" jiraPriority="High"></priority>
          <priority enabled="true" v1Priority="High" jiraPriority="Highest"></priority>
        </priorityMappings>
      </server>

    </servers>
  </jiraSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>