<?xml version="1.0" encoding="utf-8" ?>
<jiraSettings runFromThisDateOn="1/8/2016">
  <servers>

    <server enabled="true" name="jira6" url="http://jira-6.cloudapp.net:8080" ***REMOVED*** ***REMOVED*** ignoreCertificate="false">
      <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
      <projectMappings>
        <project enabled="true" v1Project="Scope:1275" jiraProject="PTP" epicSyncType="EpicCategory:208">
          <statusMappings>
            <status enabled="true" v1Status="Future" jiraStatus="To Do" />
            <status enabled="true" v1Status="In Progress" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Done" jiraStatus="Done" />

            <status enabled="true" v1Status="Define" jiraStatus="To Do" />
            <status enabled="true" v1Status="Breakdown" jiraStatus="To Do" />
            <status enabled="true" v1Status="Build" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Test" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Deploy" jiraStatus="Done" />
          </statusMappings>
        </project>
      </projectMappings>
      <priorityMappings defaultJiraPriority="Medium">
        <priority enabled="true" v1Priority="Low" jiraPriority="Lowest"></priority>
        <priority enabled="true" v1Priority="Low" jiraPriority="Low"></priority>
        <priority enabled="true" v1Priority="Medium" jiraPriority="Medium"></priority>
        <priority enabled="true" v1Priority="High" jiraPriority="High"></priority>
        <priority enabled="true" v1Priority="High" jiraPriority="Highest"></priority>
      </priorityMappings>
    </server>

    <server enabled="false" name="jira5" url="http://jira-52.cloudapp.net:8080" ***REMOVED*** ***REMOVED*** ignoreCertificate="false">
      <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
      <projectMappings>
        <project enabled="true" v1Project="Scope:1005" jiraProject="PTP" epicSyncType="EpicCategory:208">
          <statusMappings>
            <status enabled="true" v1Status="Future" jiraStatus="To Do" />
            <status enabled="true" v1Status="InProgress" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Done" jiraStatus="Done" />
            <!--<status enabled="true" v1Status="Accepted" jiraStatus="Done" />-->

            <status enabled="true" v1Status="Define" jiraStatus="Open" />
            <status enabled="true" v1Status="Breakdown" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Build" jiraStatus="Resolved" />
            <status enabled="true" v1Status="Test" jiraStatus="Resolved" />
            <status enabled="true" v1Status="Deploy" jiraStatus="Closed" />
          </statusMappings>
        </project>
      </projectMappings>
      <priorityMappings defaultJiraPriority="Major">
        <priority enabled="true" v1Priority="Low" jiraPriority="Trivial"></priority>
        <priority enabled="true" v1Priority="Low" jiraPriority="Minor"></priority>
        <priority enabled="true" v1Priority="Medium" jiraPriority="Major"></priority>
        <priority enabled="true" v1Priority="High" jiraPriority="Critical"></priority>
        <priority enabled="true" v1Priority="High" jiraPriority="Blocker"></priority>
      </priorityMappings>
    </server>

    <server enabled="false" name="jiraLocal" url="http://localhost:8088" ***REMOVED*** ***REMOVED*** ignoreCertificate="false">
      <proxy enabled="false" url="http://proxyurl" domain="proxydomain" ***REMOVED*** ***REMOVED*** />
      <projectMappings>
        <project enabled="false" v1Project="Scope:1049" jiraProject="TSP" epicSyncType="EpicCategory:208">
          <statusMappings>
            <status enabled="true" v1Status="Future" jiraStatus="To Do" />
            <status enabled="true" v1Status="In Progress" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Done" jiraStatus="Done" />

            <status enabled="true" v1Status="Define" jiraStatus="To Do" />
            <status enabled="true" v1Status="Breakdown" jiraStatus="To Do" />
            <status enabled="true" v1Status="Build" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Test" jiraStatus="In Progress" />
            <status enabled="true" v1Status="Deploy" jiraStatus="Done" />
          </statusMappings>
        </project>
      </projectMappings>
      <priorityMappings defaultJiraPriority="Medium">
        <priority enabled="true" v1Priority="Low" jiraPriority="Lowest"></priority>
        <priority enabled="true" v1Priority="Low" jiraPriority="Low"></priority>
        <priority enabled="true" v1Priority="Medium" jiraPriority="Medium"></priority>
        <priority enabled="true" v1Priority="High" jiraPriority="High"></priority>
        <priority enabled="true" v1Priority="High" jiraPriority="Highest"></priority>
      </priorityMappings>
    </server>

  </servers>
</jiraSettings>