<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VersionOne.TeamSync.SystemTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8086"/>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <VersionOne.TeamSync.SystemTray.Properties.Settings>
      <setting name="ActivityWindowLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="ActivityWindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </VersionOne.TeamSync.SystemTray.Properties.Settings>
  </userSettings>
</configuration>