<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 
  <?include $(sys.CURRENTDIR)\Config.wxi ?>
	
  <Fragment>
    <!-- Jira installation Component. -->
    <ComponentGroup Id="JiraComponents" Directory="INSTALLFOLDER">
      <Component Id="VersionOne.TeamSync.JiraConnector.dll" >
        <File Source="$(var.SourceDir)\VersionOne.TeamSync.JiraConnector.dll" />
      </Component>
      <Component Id="VersionOne.TeamSync.JiraWorker.dll">
        <File Source="$(var.SourceDir)\VersionOne.TeamSync.JiraWorker.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>