<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" >

  <?include $(sys.CURRENTDIR)\Config.wxi ?>

  <!-- Product settings. Change the Version attributes for a major upgrade. -->
  <!-- Do NOT change the UpgradeCode guid! -->
  <Product Id="*" 
           Name="$(var.AppName)" 
           Language="1033" 
           Version="$(var.AppVersion)" 
           Manufacturer="$(var.AppManufacturer)" 
           UpgradeCode="0E001EBE-8107-4E59-955F-6AAA6238ADE0" >

    <Package Id="*" 
             Description="$(var.AppName)"
             InstallerVersion="400" 
             Compressed="yes" 
             InstallScope="perMachine" 
             InstallPrivileges="elevated" 
             Platform="$(var.Platform)" />

    <!-- Cabinet files should be embedded in the installer. -->
    <MediaTemplate EmbedCab="yes"/>
    <!-- WixUI_InstallDir shows a dialog where the user can change the installation path. . -->
    <UIRef Id="WixUI_InstallDir"/>

    <!-- Require installer to run as admin account, needed for launching system tray app with access to TeamSync service. -->
    <Condition Message="You must be an administrator to install VersionOne TeamSync.">Privileged</Condition>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Verify the .NET Framework version. -->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="[ProductName] requires .NET Framework 4.5.1. Please install the correct .NET Framework version then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45 >= "#378675"]]>
    </Condition>

    <!-- Create registry entry to auto-launch system tray. -->
    <Component Id="RegistryEntries" Directory="INSTALLFOLDER">
      <RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Action="createAndRemoveOnUninstall">
        <RegistryValue Type="string" Name="[ProductName] System Tray" Value="[INSTALLFOLDER]VersionOne.TeamSync.SystemTray.exe"/>
      </RegistryKey>
    </Component>

    <!-- Application Features. -->
    <Feature Id="ProductFeature" Title="VersionOne.TeamSync.Installer" Level="1">
       <ComponentGroupRef Id="ProductComponents" />
       <ComponentRef Id="RegistryEntries" />
    </Feature>
    
    <Feature Id="JiraFeature" Title="VersionOne.TeamSync.Installer" Level="1">
      <ComponentGroupRef Id="JiraComponents" />
    </Feature>
    
    <Feature Id="TfsFeature" Title="VersionOne.TeamSync.Installer" Level="1">
      <ComponentGroupRef Id="TfsComponents" />
    </Feature>
    
    
    
    <!--  WIXUI_INSTALLDIR to the Id you gave your install directory. -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- Overrides the default WiX license file. -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- Overrides the default WiX UI graphics. -->
    <WixVariable Id="WixUIDialogBmp" Value="dialogBMP.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="uibanner-transparent.bmp" />
    <!-- Icon used in Control Panel's Add/Remove Programs list. -->
    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)\v1-icon-48x48.ico" />

    <Property Id="ARPPRODUCTICON" Value="icon.ico" />


    <!-- Auto-launch the system tray application. -->
    <Property Id="MSIUSEREALADMINDETECTION" Value="1"/>
    <Property Id="WixShellExecTarget" Value="[#VersionOne.TeamSync.SystemTray.exe]"/>
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>

    <!-- Adding the new dialog box. -->
    <UIRef Id="InstallDlg_UI"/>

    <!-- UI actions. -->
    <UI>
      <!-- define the workflow. -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="RbDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="RbDlg">1</Publish>
      <Publish Dialog="RbDlg" Control="Cancel" Event="NewDialog" Value="CancelDlg">1</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">NOT Installed</Publish>
  
    </UI>

  </Product>

</Wix>