<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 
  <?include $(sys.CURRENTDIR)\Config.wxi ?>
	
  <Fragment>
    <!-- TFS installation Component.  -->
    <ComponentGroup Id="TfsComponents" Directory="INSTALLFOLDER">
      <!--    <Component Id="VersionOne.TeamSync.TfsConnector.dll" >
        <File Source="$(var.SourceDir)\stop.png" />
      </Component>-->

      <Component Id="VersionOne.TeamSync.TfsWorker.dll">
        <File Source="$(var.SourceDir)\VersionOne.TeamSync.TfsWorker.dll" />
      </Component>
    </ComponentGroup>
    
  </Fragment>
</Wix>