<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.1-beta1" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="YamlDotNet" version="3.8.0-pre159" targetFramework="net451" />
  <package id="YamlDotNet.Dynamic" version="3.2.3" targetFramework="net451" />
</packages>